body { /*Establece el estilo para el cuerpo del documento*/
    display: flex; /* Flexbox para el diseño */
    flex-direction: column; /* Los elementos hijos se apilan verticalmente */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    justify-content: center; /* Centra los elementos hijos verticalmente */
    font-family: Arial, sans-serif; /* Establece la fuente */
    font-size: 23px; /*Establece el tamaño de la letra*/
}

.container {
    position: relative; /* Establece la posición relativa */
    height: 300px; /* Ajusta la altura del contenedor según la imagen */
    width: 90%; /* Ocupa el 90% del ancho de la página */
    margin: auto; /* Centrar horizontalmente */   
}

h1 {
    color: rgb(189, 87, 87); /*Establece el color del título*/
}

.text-overlay2{
    color:rgb(189, 87, 87);
    font-size:30px;
}

.text-overlay {
  padding-top: 90px;
    position: absolute; /* Establece la posición absoluta */
    top: 75%; /* Coloca el texto en la mitad superior */
    left: 50%; /* Centra horizontalmente el texto */
    transform: translate(-50%, -50%); /* Centra el texto */
    text-align: center; /* Centra el texto horizontalmente */
    color: white; /* Color de texto blanco */

}

.imgNavidad {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 100%; /* Ocupa toda la altura del contenedor */
    opacity: 0.4; /* Establece la opacidad de la imagen */
    z-index: -1; /* Coloca la imagen detrás del texto */
    padding: 2px;
}

.header p{
  font-size: 23px;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px; 
    
}

.menu ul li a {
    color: rgb(206, 113, 113); /*Establece el color de las opciones del menú*/
    text-decoration: none; /*Elimina el subrayado de los enlaces*/
}

.menu ul li a:hover{
    color:#333232; /*Cambia el color cuando el ratón está encima*/
    background-color: #ccc4c4; /*Resalte cuando el ratón está encima*/
    padding: 10px;
    border-radius: 20%; /*Redondea*/
}

.menu ul li a:active{
    color:#6e2f2f; /*Cambia el color cuando está siendo activado*/
}



.header, .footer { /* Establece el estilo para el encabezado y el pie de página */
    width: 100%; /* Ocupa todo el ancho de la página */
    color: white; /* Texto de color blanco */
    text-align: center; /* Centra el texto */
    padding: 30px 0; /* Añade relleno arriba y abajo */
    
}

.header { /* Establece el estilo para el encabezado */
    background: #333232; /* Color de fondo oscuro */
    padding: 10px 0;
    margin-bottom: 5px;
}

span:hover{
    background-color: rgb(206, 113, 113);
}
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }
  th {
    background-color: #f2f2f2;
  }

  .special{
    color: rgb(206, 113, 113);
  }

 .main-content { /* Establece el estilo para el contenido principal */
    display: flex; /* Flexbox para el diseño */
    justify-content: space-between; /* Espacio uniforme entre las columnas */
    width: 90%; /* Ocupa el 95% del ancho de la página */
    margin: 160px; /* Añade margen arriba */     
  }

 .main-content .column { /* Establece el estilo para las columnas */
    display: flex; /* Flexbox para el diseño */
    background: #ccc4c4; /* Fondo gris claro */
    margin: 20px; /* Añade márgenes */  
  }

.column1 { /* Establece el estilo para la primera columna */
    width: 40%; /* Ocupar el 30% del ancho de la página */
    background: #ccc4c4; /* Fondo gris claro */
    padding: 35px; /*Establece márgenes*/
    display: flex; /* Flexbox para el diseño */
    flex-direction: column; /*Diseño en columna(vertical)*/
}



.column2 { /* Establece el estilo para la segunda columna */
    width: 90%; /* Ocupa el 60% del ancho de la página */
    background: #e2dbdb;  /* Fondo gris más claro */
    justify-content: space-between; /*Espacio uniforme entre los elementos */
    display:flex; /*Flexbox para el diseño*/
    flex-direction: column; /*Diseño en columna(vertical)*/
    padding: 35px; /*Establece márgenes*/
    
}

.imgColumn {
  display: inline-block; /*Flexbox para el diseño, aparecen en línea*/

  justify-content: space-evenly; /*Espacio uniforme entre los elementos */
  text-align:center; /*Centra las imágenes con respecto al texto*/ 
}
.imgColumn1 {
  width: 550px; /*Establece el ancho de las imágenes */
}

img {
    width: 150px; /*Establece el ancho de las imágenes */
}

.quiz{
  background-color:  #e2dbdb;/*Color de fondo del formulario*/
  text-align: center;
  font-size: 30px;
}

#puntuacion{ /*Establece las medidas de la caja puntuación*/
  width: 60px;
  height: 40px;
  font-size: 25px;
}

input[type="text"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"]{     /*Establece las medidas para los input(cajas formulario)*/
  width: 290px;
  height: 30px;
  font-size: 25px;
  margin: 10px;
}

input[type="textarea"]{
  margin: 80px;
}

input[type="submit"]{ /*Modifica el tamaño del botón enviar*/
  font-size: 80%;
  margin: 50px;
}



@keyframes desplazamientoDerecha {
    0% {
      left: 0;
    }
    50% {
      left: 1200px;
    }
    100% {
      left: 0px;
    }
  }
    
    .anime{
        position: relative; /* Asegura que el posicionamiento funcione correctamente */
        width: 500px; /* Ajusta el ancho según tus necesidades */
        height: 350px; /* Ajusta la altura según tus necesidades */
        animation: desplazamientoDerecha 100s ease infinite;
        /* Ajusta la duración de la animación, el tipo de aceleración (ease), y si se repite (infinite) según tus necesidades */
        margin-bottom: 110px;
  }


.footer { /* Establece el estilo para el pie de página */
    background: #6e6b6b; /* Fondo gris oscuro para el footer */
    /*position: fixed; Fija el contenido*/
}